<mat-card>
  <section *ngIf="onEdit">
    <mat-card-content>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Memorando</mat-label>
          <input matInput placeholder="Abacate" [(ngModel)]="memo">
          <mat-icon matSuffix>bookmark_border</mat-icon>
          <mat-hint>Lembrete do que você gastou</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Preço</mat-label>
          <input matInput placeholder="10.00" [(ngModel)]="valor">
          <mat-icon matSuffix>attach_money</mat-icon>
          <mat-hint>Valor do gasto</mat-hint>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-mini-fab color="primary" class="btn-card-actions" (click)="saveGasto();">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-mini-fab color="warn" class="btn-card-actions">
            <mat-icon>cancel</mat-icon>
          </button>
    </mat-card-actions>
  </section>
  <section *ngIf="!onEdit">
    <p>
      <span>
        Memo:
        {{gasto.memo}}
      </span>
    </p>
    <p>
      <span>
        Valor:
        {{gasto.valor}}
      </span>
    </p>
    <button mat-mini-fab color="primary" class="btn-card-actions" (click)="editGasto();">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab color="warn" class="btn-card-actions" (click)="deleteGasto();">
      <mat-icon>delete</mat-icon>
    </button>

  </section>
</mat-card>
